</body>
  <%= render "shared/header" %>

  <% if user_signed_in? %>
  <div class="row align-items-md-stretch justify-content-center">
    <div class="col-md-8">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Port-Helperの使い方</h2>
        <p>Port-Helperは、あなたのエンジニアとしてのキャリアを支援し、あなたの持つスキルや興味を最大限に引き出し、最適なポートフォリオを作成するためのアドバイスを提供します。
          エンジニアとしての成長は、自分自身が積極的に取り組むことが不可欠です。しかし、Port-Helperが提供するサービスを使うことで、より効率的かつ効果的にスキルアップすることができます。私たちは、あなたのエンジニアとしてのキャリアを支援し、最高の成果をもたらすことをお約束します。
          さあ、あなたも今すぐPort-Helperを使って、自分のスキルアップの可能性を広げましょう！Let's Port-Helper!!!</p>
        </div>
    </div>
    <div class="col-md-3">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Add borders</h2>
        <p> content for equal-height.</p>
        <%= link_to "プロフィール入力", new_question_path, class: 'btn btn-outline-secondary', type: 'button' %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row align-items-md-stretch justify-content-center">
    <div class="col-md-8">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Port-Helperの使い方</h2>
        <p>Port-Helperは、あなたのエンジニアとしてのキャリアを支援し、あなたの持つスキルや興味を最大限に引き出し、最適なポートフォリオを作成するためのアドバイスを提供します。
          エンジニアとしての成長は、自分自身が積極的に取り組むことが不可欠です。しかし、Port-Helperが提供するサービスを使うことで、より効率的かつ効果的にスキルアップすることができます。私たちは、あなたのエンジニアとしてのキャリアを支援し、最高の成果をもたらすことをお約束します。
          さあ、あなたも今すぐPort-Helperを使って、自分のスキルアップの可能性を広げましょう！Let's Port-Helper!!!</p>
        </div>
    </div>
    <div class="col-md-3">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>PV数</h2>
        
        <br>

        <h2>ユーザー数: <%= @user_count %></h2>
      </div>
      
    </div>
  </div>
  <% end %>

  <%= render "shared/footer" %>
      
</body>